/* Estilos básicos para o corpo */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f0f0; /* Fundo cinza claro */
  }
  
  /* Estilos para o título */
  h1 {
    font-size: 36px;
    color: #333;
  }
  
  /* Estilos para o contador */
  #contador {
    font-size: 64px;
    color: #333;
    margin: 20px 0;
  }
  
  /* Estilos para o botão */
  #botao {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #008CBA; /* Azul */
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  /* Efeito ao passar o mouse sobre o botão */
  #botao:hover {
    background-color: #005f6b;
  }
  